<% include ../includes/header.ejs %>

    <!-- Content Wrapper. Contains page content -->
   
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Users
        <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/admin/users">User</a></li>
        <li class="active">Manage Users</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
 
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Manage Users</h3>
            </div>
            <!-- /.box-header -->
             
            <div class="box-body">
				<div style="float:right">
					<a href="/admin/users/add"><button type="button" class="btn btn-block btn-primary btn-flat">+Add</button></a>
				</div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Image</th>
                  <th>Phone</th>
                  <th>Country</th>
                  <th>Gender</th>
                  <th>Role</th>
                  <th>Action</th>
                  
                </tr>
                </thead>
                <tbody>
					 
				 <% records.forEach(function(record) { %>		 
                <tr>
                  <td> <%= record.nickname %> 	</td>
                  <td> <%= record.email %> 		</td>
                  <td> <%= record.image %>		</td>
                  <td> <%= record.phone %>		</td>
                  <td> <%= record.country %>	</td>
                  <td> <%= record.gender %>		</td>
                  <td> <%= record.role %>		</td>
                  <td> <a href="users/edit/<%= record.id %>"  class="btn btn-orange" rel="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                  <a href="users/delete/<%= record.id %>" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-red" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                  </td>
                  
                </tr>
                  <% }) %>
                </tbody>
                <tfoot>
                <tr>
                <td colspan="7" align="right">
					
                </td>
                </tr>
                </tfoot>
              </table>
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<% include ../includes/footer.ejs %>
